@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: white;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 95%;
  background: #444753;
  border-radius: 5px;
}

.people-list {
  width: 20%;
  float: left;
}
.people-list .search {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;

}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 10px;
  color: white;
  background: #6A6C75;
  width: 100%;
  font-size: 14px;
}
.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 20px;
  padding-top: 0;
}
.people-list ul li {
  padding: 10px;
  align-items: center;
  display: flex;
}
.people-list ul li:first-child {
  padding-top: 0px;
  list-style: circle;
  border-bottom: #D8DADF 2px solid;
}
.people-list img {
  float: left;
}
.people-list .about {
  float: left;
  margin-top: 8px;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .status {
  color: #92959E;
}

.chat {
  width: 80%;
  float: right;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}

.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
  width: 100%;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 15px 12px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 10px;
  width: 66%;
  position: relative;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #94C2ED;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86BB71;
  text-align: right;
}
.chat .chat-history .my-message:after {
	left: 93%;
	border-bottom-color: #86BB71;
  }
.chat .chat-history .other-message {
  background: #94C2ED;
}
.chat .chat-history .message_name {
  flex-wrap: nowrap;

}
.chat .chat-message {
  padding: 2%;
  padding-right: 1%;
  background: #434651;
  border-style: solid;
  border-width: 1px;
  border-color: #D8DADF;
  flex-direction: row;
  align-items: center;
  display: flex;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: file;
}
.chat li {
  list-style: none;
}
.chat .chat-message input {
  width: 100%;
  padding-top: 1%;
  font: 14px/22px "Lato", Arial, sans-serif;
}

.chat .chat-message button {
  margin-left: 1%;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #86BB71;
  border-color: #86BB71;
}
.chat .chat-message button:hover {
        color: #fff;
        background-color: #86BB71;
        border-color: #86BB71;
}

.online, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.me {
  color: #E38968;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix::after {
  visibility: collapse;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0px;
}
